
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    /* justify-content: space-evenly; */
    text-align: center;
    
  }
  
  ul li {    
    
    display:inline-flex;
    justify-content: space-between;
    text-decoration: none;
    margin-inline-end: 3rem;
    
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
